<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWD</title>
</head>
<body>
    <div class="container">
        <h2>Home Page</h2>


        <div>
            <a href="{% url 'import_data' %}" class="btn btn-primary">Import Data</a>
        </div>

        <div>
            <a href="{% url 'celery_test' %}" class="btn btn-primary">Celery Test</a>
        </div>

        <div>
            <a href="{% url 'email_test' %}" class="btn btn-primary">Email Test</a>
        </div>
        
        <div>
            <a href="{% url 'export_data' %}" class="btn btn-primary">Export Data</a>
        </div>
    </div>
</body>
</html>