{% extends 'home/base.html' %}

    {% block title %}Export Data{% endblock %}
    
    {% block content %}
    <div class="container mt-5 shadow-lg custom-bg"> 
        <h3 class="heading text-center pt-1">Export Data From Database Tables</h3>

        <form action="{% url 'export_data' %}" method="post"  style="max-width: 600px; margin: auto; padding-top: 50px;" >
            {% csrf_token %}
            

            <div class="form-group">
                <label for="model_name">Select Database Table</label>
                <select name="model_name" class="form-control" required>
                    <option value="" disabled selected>Select</option>
                    {% for model in custom_models %}
                        <option value="{{ model }}" >{{ model }}</option>
                    {% endfor %}
                </select>
            </div>

            
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Export data" class="btn btn-custom">
            </div>
            
            {% include 'alerts/alerts.html' %}

        
        </form>
    </div>
    {% endblock %}

